
@media screen and (max-width: 50em) {
    .logo {
	   display: none;
    }
}

@media screen and (min-width: 50em) {
    .logo {
	    position: fixed;
	    top: 0.5em;
	    left: 0.5em;
	    z-index: 10;       
    }    
}

.authentication {
     text-align: center;
     border: 2px solid lightgreen ;
     margin-right: 1em;
     margin-left:auto;
}


