<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>bouton on-off type appareil - script HTML / CSS gratuit : Outils-web.com</title>
<meta name="description" content="boutons on-off éclairé glissant comme sur  les appareils electro-ménagers par exemple" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<a href="http://www.outils-web.com"><img src="../../img/ow.png" border="0" width="400" height="100" alt=""></a>
<br /><p class="tt" >bouton on-off type appareil</p><br /><br />
<section class="main">
<div class="switch demo">
	<input type="checkbox"><label><i></i></label>
</div>
<div class="switch demo">
	<input type="checkbox" checked><label><i></i></label>
</div>
</section>
</body>
</html>